
/*//////////////////////////////
===== component - dropdown =====
//////////////////////////////*/


.dropdown-btn {
  border: none;
  display: inline-block;
  padding: 20px 0;
  color: $color-text-main;
  background: transparent;
  transition: .3s;
  cursor: pointer;
  @include text-sm;
}

.dropdown-container {
  display: none;
  color: $color-text-main;
  padding-bottom: 20px;
  @include text-sm;
} 
.dropdown-container .text-xs{
  color: $color-text-sub;
} 